*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.bold-text {
    font-weight: bold;
    font-size: 20px;
    color: #4d545b;
}
.normal-text {
    font-weight: normal;
    color: gray;
}
p{
    color: #393939;
    padding: 10px 0;

}
ul {
    list-style: none;
}
button {
    border: 0;
    border-radius: 5px;
    padding: 12px;
    width: 100%;
    color: #fff;
    font-size: 16px;
}
span {
    font-size: 16px;
    color: #545F69;
}
.red-bg {
    background-color: #F19886;
}
.blue-bg {
    background-color: #299CDB;
}
.fa-circle-xmark {
    color: #F06548;
}
.fa-circle-check {
    color: #0AB39C;
}

/* card style */
.cards-container {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F3F3F9;
}
.card {
    position: relative;
    margin: 10px 0;
    flex-basis: 350px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #EDEDF3;
    border-radius: 5px;
}
.card-container {
    background-color: #F3F6F9;
    padding: 20px 30px;
}
li {
    padding: 11px 0;
}
li .bold-text {
    color: #000;
    font-weight: 700;
    font-size: 16px;
}
i {
    margin-right: 5px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price {
    font-size: 30px;
    font-weight:500;
}
    .price span {
        color: gray;
        font-weight: normal;
    }

button {
    margin-top: 15px;
}

.ribbon {
    width: 90px;
    height: 90px;
    overflow: hidden;
    position: absolute;
}

.ribbon::before,
.ribbon::after {
    position: absolute;
    content: '';
    display: block;
    border: 4px solid #f25c3e;
}
.ribbon span {
    position: absolute;
    display: block;
    width: 130px;
    padding: 5px 0;
    background-color: #F06548;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-align: center;
}

.ribbon-top-right {
    top: -10px;
    right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
    border-top-color: #F06548;
    border-right-color: #F06548;
}
.ribbon-top-right::before {
    top: 0;
    left: 0;
}
.ribbon-top-right::after {
    bottom: 0;
    right: 0;
}

.ribbon-top-right span {
    left: -10px;
    top: 20px;
    transform: rotate(45deg);
}